<header>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</header>
    
    <body>
      <div class="content-container">
        <section id="pantalla-dividida" class="grid-container">
          <div class="izquierda">
            <br>
            <h1>VISIÓN</h1>
            <br>
            <p>Ser una escuela comprometida con la excelencia académica y el desarrollo integral de nuestros estudiantes,
              brindando un ambiente educativo inclusivo, equitativo y enriquecedor. Nos esforzamos por empoderar a nuestros
              estudiantes para que se conviertan en individuos conscientes, responsables y con habilidades para enfrentar los
              desafíos del mundo actual, al tiempo que valoran y preservan la riqueza de nuestra comunidad rural.</p>
            <br>
            <h1>MISIÓN</h1>
            <br>
            <p>Nuestra misión es proporcionar una educación de calidad que se adapte a las necesidades y características únicas de
              nuestros estudiantes. Nos comprometemos a fomentar el amor por el aprendizaje, cultivar la
              curiosidad y promover el pensamiento crítico y creativo. Trabajamos en estrecha colaboración con los padres, la
              comunidad y otros actores locales para construir una sólida red de apoyo que contribuya al éxito académico y personal
              de nuestros estudiantes.</p>
          </div>
            <br>
          <div class="derecha">
          </div>
        </section>
      </div>
      <br>  

      
    </body>
