<div class="container mt-4">
    <!-- Crear Reserva -->
    <h1 class="mb-4">Crear Reserva</h1>
    <form (ngSubmit)="enviarCita()">
      <div class="form-floating mb-3">
        <select id="cliente" [(ngModel)]="clienteId" name="clienteId" class="form-select" required>
          <option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.nombre }}</option>
        </select>
        <label for="cliente">Cliente:</label>
      </div>
      <div class="form-floating mb-3">
        <select id="servicio" [(ngModel)]="servicioId" name="servicioId" class="form-select" required>
          <option *ngFor="let servicio of servicios" [value]="servicio.id">{{ servicio.nombre }}</option>
        </select>
        <label for="servicio">Servicio:</label>
      </div>
      <div class="form-floating mb-3">
        <input type="date" id="fechaCita" [(ngModel)]="fechaCita" name="fechaCita" class="form-control" required>
        <label for="fechaCita">Fecha:</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" id="estatus" [(ngModel)]="estatus" name="estatus" class="form-control" required>
        <label for="estatus">Estatus:</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" id="comentarios" [(ngModel)]="comentarios" name="comentarios" class="form-control">
        <label for="comentarios">Comentarios:</label>
      </div>
      <button type="submit" class="btn btn-secondary me-3">Enviar Cita</button>
    </form>
  
    <!-- Crear Cliente -->
    <h1 class="mt-5 mb-4">Crear Cliente</h1>
    <form (ngSubmit)="enviarCliente()">
      <div class="form-floating mb-3">
        <input type="text" id="nombreCliente" [(ngModel)]="nombreCliente" name="nombreCliente" class="form-control" required>
        <label for="nombreCliente">Nombre:</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" id="correoCliente" [(ngModel)]="correoCliente" name="correoCliente" class="form-control" required>
        <label for="correoCliente">Correo:</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" id="telefonoCliente" [(ngModel)]="telefonoCliente" name="telefonoCliente" class="form-control" required>
        <label for="telefonoCliente">Teléfono:</label>
      </div>
      <button type="submit" class="btn btn-secondary me-3">Enviar Cliente</button>
    </form>
  
    <!-- Crear Servicio -->
    <h1 class="mt-5 mb-4">Crear Servicio</h1>
    <form (ngSubmit)="enviarServicio()">
      <div class="form-floating mb-3">
        <input type="text" id="nombreServicio" [(ngModel)]="nombreServicio" name="nombreServicio" class="form-control" required>
        <label for="nombreServicio">Nombre:</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" id="descripcionServicio" [(ngModel)]="descripcionServicio" name="descripcionServicio" class="form-control" required>
        <label for="descripcionServicio">Descripción:</label>
      </div>
      <div class="form-floating mb-3">
        <input type="number" id="precioServicio" [(ngModel)]="precioServicio" name="precioServicio" class="form-control" required>
        <label for="precioServicio">Precio:</label>
      </div>
      <button type="submit" class="btn btn-secondary me-3">Enviar Servicio</button>
    </form>
  </div>
  